body{
    background-color: #111;
    color:#EEE;
}
#holdbutton {
        background-color:  #6200ee;
        color:#111;
        border-width: 5px;
        border-style:solid;
        border-color:#3700b3;
}
