body{
    background-color: #EEE;
    color:#111;
}
#holdbutton {
        background-color:  #6200ee;
        color:#EEE;
        border-width: 5px;
        border-style:solid;
        border-color:#BB86FC;
}
